/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#padreinfo{
    position: relative;
    animation-delay: 2s;
    position: absolute;
    width: calc(100%);
    background-color: var(--body-color);
    transition: var(--tran-05);

}
#usericon{
    font-size: 70px;
    display: flex;
    justify-content: center;
    margin: 10px;
    color:var(--text-color);
    padding: 10px 60px;
}
.correouser{
    display: flex;
    justify-content: center;
    margin: 10px;
    color: var(--text-color);
    padding: 10px 60px;

}
#infobasic{
    position: absolute;
    margin: 20px;
    width: calc(100% - 30px);
    color: var(--text-color);
    transition: var(--tran-05);
}
#infobasic h1{
    margin-bottom: 10px;
}
.tableinfo{
    border: 1px solid var(--text-color);
    border-collapse: collapse;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
}
.inputsuser{
    width: 220px;
    position: relative;
    margin-left: 30px;
    outline: none;
    background-color: var(--body-color);
    color: var(--text-color);
}
th,td{
    padding: 20px;
    padding-left: 50px;
}
@media screen and (max-width:767px){
    #textuser0{
        font-size: 12px;
    }
    #usericon{
        font-size: 50px;
        margin: 10px;
    }
    .correouser{
        font-size: 13px;
        position: relative;
        left: 12px;
    }
    .tableinfo{
        font-size: 10px;
        width:300px;
    }
    .inputsuser{
        width: 90px;
        height: 10px;
    }
    .inputsuser::placeholder{
        font-size: 8px;
    }
}